.g-container {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.g-item {
  --f: -0.04167s;
  --h: 60px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 60px;
  background-color: #000;
  -webkit-animation: heightChange 1s infinite ease-in-out alternate, skewChange 1s infinite ease-in-out alternate;
          animation: heightChange 1s infinite ease-in-out alternate, skewChange 1s infinite ease-in-out alternate;
}

.g-item:nth-child(1) {
  -webkit-animation-delay: calc(var(--f) * 0), calc(var(--f) * 0 - 0.5s);
          animation-delay: calc(var(--f) * 0), calc(var(--f) * 0 - 0.5s);
}

.g-item:nth-child(2) {
  -webkit-animation-delay: calc(var(--f) * 1), calc(var(--f) * 1 - 0.5s);
          animation-delay: calc(var(--f) * 1), calc(var(--f) * 1 - 0.5s);
}

.g-item:nth-child(3) {
  -webkit-animation-delay: calc(var(--f) * 2), calc(var(--f) * 2 - 0.5s);
          animation-delay: calc(var(--f) * 2), calc(var(--f) * 2 - 0.5s);
}

.g-item:nth-child(4) {
  -webkit-animation-delay: calc(var(--f) * 3), calc(var(--f) * 3 - 0.5s);
          animation-delay: calc(var(--f) * 3), calc(var(--f) * 3 - 0.5s);
}

.g-item:nth-child(5) {
  -webkit-animation-delay: calc(var(--f) * 4), calc(var(--f) * 4 - 0.5s);
          animation-delay: calc(var(--f) * 4), calc(var(--f) * 4 - 0.5s);
}

.g-item:nth-child(6) {
  -webkit-animation-delay: calc(var(--f) * 5), calc(var(--f) * 5 - 0.5s);
          animation-delay: calc(var(--f) * 5), calc(var(--f) * 5 - 0.5s);
}

.g-item:nth-child(7) {
  -webkit-animation-delay: calc(var(--f) * 6), calc(var(--f) * 6 - 0.5s);
          animation-delay: calc(var(--f) * 6), calc(var(--f) * 6 - 0.5s);
}

.g-item:nth-child(8) {
  -webkit-animation-delay: calc(var(--f) * 7), calc(var(--f) * 7 - 0.5s);
          animation-delay: calc(var(--f) * 7), calc(var(--f) * 7 - 0.5s);
}

.g-item:nth-child(9) {
  -webkit-animation-delay: calc(var(--f) * 8), calc(var(--f) * 8 - 0.5s);
          animation-delay: calc(var(--f) * 8), calc(var(--f) * 8 - 0.5s);
}

.g-item:nth-child(10) {
  -webkit-animation-delay: calc(var(--f) * 9), calc(var(--f) * 9 - 0.5s);
          animation-delay: calc(var(--f) * 9), calc(var(--f) * 9 - 0.5s);
}

.g-item:nth-child(11) {
  -webkit-animation-delay: calc(var(--f) * 10), calc(var(--f) * 10 - 0.5s);
          animation-delay: calc(var(--f) * 10), calc(var(--f) * 10 - 0.5s);
}

.g-item:nth-child(12) {
  -webkit-animation-delay: calc(var(--f) * 11), calc(var(--f) * 11 - 0.5s);
          animation-delay: calc(var(--f) * 11), calc(var(--f) * 11 - 0.5s);
}

.g-item:nth-child(13) {
  -webkit-animation-delay: calc(var(--f) * 12), calc(var(--f) * 12 - 0.5s);
          animation-delay: calc(var(--f) * 12), calc(var(--f) * 12 - 0.5s);
}

.g-item:nth-child(14) {
  -webkit-animation-delay: calc(var(--f) * 13), calc(var(--f) * 13 - 0.5s);
          animation-delay: calc(var(--f) * 13), calc(var(--f) * 13 - 0.5s);
}

.g-item:nth-child(15) {
  -webkit-animation-delay: calc(var(--f) * 14), calc(var(--f) * 14 - 0.5s);
          animation-delay: calc(var(--f) * 14), calc(var(--f) * 14 - 0.5s);
}

.g-item:nth-child(16) {
  -webkit-animation-delay: calc(var(--f) * 15), calc(var(--f) * 15 - 0.5s);
          animation-delay: calc(var(--f) * 15), calc(var(--f) * 15 - 0.5s);
}

.g-item:nth-child(17) {
  -webkit-animation-delay: calc(var(--f) * 16), calc(var(--f) * 16 - 0.5s);
          animation-delay: calc(var(--f) * 16), calc(var(--f) * 16 - 0.5s);
}

.g-item:nth-child(18) {
  -webkit-animation-delay: calc(var(--f) * 17), calc(var(--f) * 17 - 0.5s);
          animation-delay: calc(var(--f) * 17), calc(var(--f) * 17 - 0.5s);
}

.g-item:nth-child(19) {
  -webkit-animation-delay: calc(var(--f) * 18), calc(var(--f) * 18 - 0.5s);
          animation-delay: calc(var(--f) * 18), calc(var(--f) * 18 - 0.5s);
}

.g-item:nth-child(20) {
  -webkit-animation-delay: calc(var(--f) * 19), calc(var(--f) * 19 - 0.5s);
          animation-delay: calc(var(--f) * 19), calc(var(--f) * 19 - 0.5s);
}

.g-item:nth-child(21) {
  -webkit-animation-delay: calc(var(--f) * 20), calc(var(--f) * 20 - 0.5s);
          animation-delay: calc(var(--f) * 20), calc(var(--f) * 20 - 0.5s);
}

.g-item:nth-child(22) {
  -webkit-animation-delay: calc(var(--f) * 21), calc(var(--f) * 21 - 0.5s);
          animation-delay: calc(var(--f) * 21), calc(var(--f) * 21 - 0.5s);
}

.g-item:nth-child(23) {
  -webkit-animation-delay: calc(var(--f) * 22), calc(var(--f) * 22 - 0.5s);
          animation-delay: calc(var(--f) * 22), calc(var(--f) * 22 - 0.5s);
}

.g-item:nth-child(24) {
  -webkit-animation-delay: calc(var(--f) * 23), calc(var(--f) * 23 - 0.5s);
          animation-delay: calc(var(--f) * 23), calc(var(--f) * 23 - 0.5s);
}

.g-item:nth-child(25) {
  -webkit-animation-delay: calc(var(--f) * 24), calc(var(--f) * 24 - 0.5s);
          animation-delay: calc(var(--f) * 24), calc(var(--f) * 24 - 0.5s);
}

.g-item:nth-child(26) {
  -webkit-animation-delay: calc(var(--f) * 25), calc(var(--f) * 25 - 0.5s);
          animation-delay: calc(var(--f) * 25), calc(var(--f) * 25 - 0.5s);
}

.g-item:nth-child(27) {
  -webkit-animation-delay: calc(var(--f) * 26), calc(var(--f) * 26 - 0.5s);
          animation-delay: calc(var(--f) * 26), calc(var(--f) * 26 - 0.5s);
}

.g-item:nth-child(28) {
  -webkit-animation-delay: calc(var(--f) * 27), calc(var(--f) * 27 - 0.5s);
          animation-delay: calc(var(--f) * 27), calc(var(--f) * 27 - 0.5s);
}

.g-item:nth-child(29) {
  -webkit-animation-delay: calc(var(--f) * 28), calc(var(--f) * 28 - 0.5s);
          animation-delay: calc(var(--f) * 28), calc(var(--f) * 28 - 0.5s);
}

.g-item:nth-child(30) {
  -webkit-animation-delay: calc(var(--f) * 29), calc(var(--f) * 29 - 0.5s);
          animation-delay: calc(var(--f) * 29), calc(var(--f) * 29 - 0.5s);
}

.g-item:nth-child(31) {
  -webkit-animation-delay: calc(var(--f) * 30), calc(var(--f) * 30 - 0.5s);
          animation-delay: calc(var(--f) * 30), calc(var(--f) * 30 - 0.5s);
}

.g-item:nth-child(32) {
  -webkit-animation-delay: calc(var(--f) * 31), calc(var(--f) * 31 - 0.5s);
          animation-delay: calc(var(--f) * 31), calc(var(--f) * 31 - 0.5s);
}

.g-item:nth-child(33) {
  -webkit-animation-delay: calc(var(--f) * 32), calc(var(--f) * 32 - 0.5s);
          animation-delay: calc(var(--f) * 32), calc(var(--f) * 32 - 0.5s);
}

.g-item:nth-child(34) {
  -webkit-animation-delay: calc(var(--f) * 33), calc(var(--f) * 33 - 0.5s);
          animation-delay: calc(var(--f) * 33), calc(var(--f) * 33 - 0.5s);
}

.g-item:nth-child(35) {
  -webkit-animation-delay: calc(var(--f) * 34), calc(var(--f) * 34 - 0.5s);
          animation-delay: calc(var(--f) * 34), calc(var(--f) * 34 - 0.5s);
}

.g-item:nth-child(36) {
  -webkit-animation-delay: calc(var(--f) * 35), calc(var(--f) * 35 - 0.5s);
          animation-delay: calc(var(--f) * 35), calc(var(--f) * 35 - 0.5s);
}

.g-item:nth-child(37) {
  -webkit-animation-delay: calc(var(--f) * 36), calc(var(--f) * 36 - 0.5s);
          animation-delay: calc(var(--f) * 36), calc(var(--f) * 36 - 0.5s);
}

.g-item:nth-child(38) {
  -webkit-animation-delay: calc(var(--f) * 37), calc(var(--f) * 37 - 0.5s);
          animation-delay: calc(var(--f) * 37), calc(var(--f) * 37 - 0.5s);
}

.g-item:nth-child(39) {
  -webkit-animation-delay: calc(var(--f) * 38), calc(var(--f) * 38 - 0.5s);
          animation-delay: calc(var(--f) * 38), calc(var(--f) * 38 - 0.5s);
}

.g-item:nth-child(40) {
  -webkit-animation-delay: calc(var(--f) * 39), calc(var(--f) * 39 - 0.5s);
          animation-delay: calc(var(--f) * 39), calc(var(--f) * 39 - 0.5s);
}

.g-item:nth-child(41) {
  -webkit-animation-delay: calc(var(--f) * 40), calc(var(--f) * 40 - 0.5s);
          animation-delay: calc(var(--f) * 40), calc(var(--f) * 40 - 0.5s);
}

.g-item:nth-child(42) {
  -webkit-animation-delay: calc(var(--f) * 41), calc(var(--f) * 41 - 0.5s);
          animation-delay: calc(var(--f) * 41), calc(var(--f) * 41 - 0.5s);
}

.g-item:nth-child(43) {
  -webkit-animation-delay: calc(var(--f) * 42), calc(var(--f) * 42 - 0.5s);
          animation-delay: calc(var(--f) * 42), calc(var(--f) * 42 - 0.5s);
}

.g-item:nth-child(44) {
  -webkit-animation-delay: calc(var(--f) * 43), calc(var(--f) * 43 - 0.5s);
          animation-delay: calc(var(--f) * 43), calc(var(--f) * 43 - 0.5s);
}

.g-item:nth-child(45) {
  -webkit-animation-delay: calc(var(--f) * 44), calc(var(--f) * 44 - 0.5s);
          animation-delay: calc(var(--f) * 44), calc(var(--f) * 44 - 0.5s);
}

.g-item:nth-child(46) {
  -webkit-animation-delay: calc(var(--f) * 45), calc(var(--f) * 45 - 0.5s);
          animation-delay: calc(var(--f) * 45), calc(var(--f) * 45 - 0.5s);
}

.g-item:nth-child(47) {
  -webkit-animation-delay: calc(var(--f) * 46), calc(var(--f) * 46 - 0.5s);
          animation-delay: calc(var(--f) * 46), calc(var(--f) * 46 - 0.5s);
}

.g-item:nth-child(48) {
  -webkit-animation-delay: calc(var(--f) * 47), calc(var(--f) * 47 - 0.5s);
          animation-delay: calc(var(--f) * 47), calc(var(--f) * 47 - 0.5s);
}

.g-item:nth-child(49) {
  -webkit-animation-delay: calc(var(--f) * 48), calc(var(--f) * 48 - 0.5s);
          animation-delay: calc(var(--f) * 48), calc(var(--f) * 48 - 0.5s);
}

.g-item:nth-child(50) {
  -webkit-animation-delay: calc(var(--f) * 49), calc(var(--f) * 49 - 0.5s);
          animation-delay: calc(var(--f) * 49), calc(var(--f) * 49 - 0.5s);
}

.g-item:nth-child(51) {
  -webkit-animation-delay: calc(var(--f) * 50), calc(var(--f) * 50 - 0.5s);
          animation-delay: calc(var(--f) * 50), calc(var(--f) * 50 - 0.5s);
}

.g-item:nth-child(52) {
  -webkit-animation-delay: calc(var(--f) * 51), calc(var(--f) * 51 - 0.5s);
          animation-delay: calc(var(--f) * 51), calc(var(--f) * 51 - 0.5s);
}

.g-item:nth-child(53) {
  -webkit-animation-delay: calc(var(--f) * 52), calc(var(--f) * 52 - 0.5s);
          animation-delay: calc(var(--f) * 52), calc(var(--f) * 52 - 0.5s);
}

.g-item:nth-child(54) {
  -webkit-animation-delay: calc(var(--f) * 53), calc(var(--f) * 53 - 0.5s);
          animation-delay: calc(var(--f) * 53), calc(var(--f) * 53 - 0.5s);
}

.g-item:nth-child(55) {
  -webkit-animation-delay: calc(var(--f) * 54), calc(var(--f) * 54 - 0.5s);
          animation-delay: calc(var(--f) * 54), calc(var(--f) * 54 - 0.5s);
}

.g-item:nth-child(56) {
  -webkit-animation-delay: calc(var(--f) * 55), calc(var(--f) * 55 - 0.5s);
          animation-delay: calc(var(--f) * 55), calc(var(--f) * 55 - 0.5s);
}

.g-item:nth-child(57) {
  -webkit-animation-delay: calc(var(--f) * 56), calc(var(--f) * 56 - 0.5s);
          animation-delay: calc(var(--f) * 56), calc(var(--f) * 56 - 0.5s);
}

.g-item:nth-child(58) {
  -webkit-animation-delay: calc(var(--f) * 57), calc(var(--f) * 57 - 0.5s);
          animation-delay: calc(var(--f) * 57), calc(var(--f) * 57 - 0.5s);
}

.g-item:nth-child(59) {
  -webkit-animation-delay: calc(var(--f) * 58), calc(var(--f) * 58 - 0.5s);
          animation-delay: calc(var(--f) * 58), calc(var(--f) * 58 - 0.5s);
}

.g-item:nth-child(60) {
  -webkit-animation-delay: calc(var(--f) * 59), calc(var(--f) * 59 - 0.5s);
          animation-delay: calc(var(--f) * 59), calc(var(--f) * 59 - 0.5s);
}

.g-item:nth-child(61) {
  -webkit-animation-delay: calc(var(--f) * 60), calc(var(--f) * 60 - 0.5s);
          animation-delay: calc(var(--f) * 60), calc(var(--f) * 60 - 0.5s);
}

.g-item:nth-child(62) {
  -webkit-animation-delay: calc(var(--f) * 61), calc(var(--f) * 61 - 0.5s);
          animation-delay: calc(var(--f) * 61), calc(var(--f) * 61 - 0.5s);
}

.g-item:nth-child(63) {
  -webkit-animation-delay: calc(var(--f) * 62), calc(var(--f) * 62 - 0.5s);
          animation-delay: calc(var(--f) * 62), calc(var(--f) * 62 - 0.5s);
}

.g-item:nth-child(64) {
  -webkit-animation-delay: calc(var(--f) * 63), calc(var(--f) * 63 - 0.5s);
          animation-delay: calc(var(--f) * 63), calc(var(--f) * 63 - 0.5s);
}

.g-item:nth-child(65) {
  -webkit-animation-delay: calc(var(--f) * 64), calc(var(--f) * 64 - 0.5s);
          animation-delay: calc(var(--f) * 64), calc(var(--f) * 64 - 0.5s);
}

.g-item:nth-child(66) {
  -webkit-animation-delay: calc(var(--f) * 65), calc(var(--f) * 65 - 0.5s);
          animation-delay: calc(var(--f) * 65), calc(var(--f) * 65 - 0.5s);
}

.g-item:nth-child(67) {
  -webkit-animation-delay: calc(var(--f) * 66), calc(var(--f) * 66 - 0.5s);
          animation-delay: calc(var(--f) * 66), calc(var(--f) * 66 - 0.5s);
}

.g-item:nth-child(68) {
  -webkit-animation-delay: calc(var(--f) * 67), calc(var(--f) * 67 - 0.5s);
          animation-delay: calc(var(--f) * 67), calc(var(--f) * 67 - 0.5s);
}

.g-item:nth-child(69) {
  -webkit-animation-delay: calc(var(--f) * 68), calc(var(--f) * 68 - 0.5s);
          animation-delay: calc(var(--f) * 68), calc(var(--f) * 68 - 0.5s);
}

.g-item:nth-child(70) {
  -webkit-animation-delay: calc(var(--f) * 69), calc(var(--f) * 69 - 0.5s);
          animation-delay: calc(var(--f) * 69), calc(var(--f) * 69 - 0.5s);
}

.g-item:nth-child(71) {
  -webkit-animation-delay: calc(var(--f) * 70), calc(var(--f) * 70 - 0.5s);
          animation-delay: calc(var(--f) * 70), calc(var(--f) * 70 - 0.5s);
}

.g-item:nth-child(72) {
  -webkit-animation-delay: calc(var(--f) * 71), calc(var(--f) * 71 - 0.5s);
          animation-delay: calc(var(--f) * 71), calc(var(--f) * 71 - 0.5s);
}

.g-item:nth-child(73) {
  -webkit-animation-delay: calc(var(--f) * 72), calc(var(--f) * 72 - 0.5s);
          animation-delay: calc(var(--f) * 72), calc(var(--f) * 72 - 0.5s);
}

.g-item:nth-child(74) {
  -webkit-animation-delay: calc(var(--f) * 73), calc(var(--f) * 73 - 0.5s);
          animation-delay: calc(var(--f) * 73), calc(var(--f) * 73 - 0.5s);
}

.g-item:nth-child(75) {
  -webkit-animation-delay: calc(var(--f) * 74), calc(var(--f) * 74 - 0.5s);
          animation-delay: calc(var(--f) * 74), calc(var(--f) * 74 - 0.5s);
}

.g-item:nth-child(76) {
  -webkit-animation-delay: calc(var(--f) * 75), calc(var(--f) * 75 - 0.5s);
          animation-delay: calc(var(--f) * 75), calc(var(--f) * 75 - 0.5s);
}

.g-item:nth-child(77) {
  -webkit-animation-delay: calc(var(--f) * 76), calc(var(--f) * 76 - 0.5s);
          animation-delay: calc(var(--f) * 76), calc(var(--f) * 76 - 0.5s);
}

.g-item:nth-child(78) {
  -webkit-animation-delay: calc(var(--f) * 77), calc(var(--f) * 77 - 0.5s);
          animation-delay: calc(var(--f) * 77), calc(var(--f) * 77 - 0.5s);
}

.g-item:nth-child(79) {
  -webkit-animation-delay: calc(var(--f) * 78), calc(var(--f) * 78 - 0.5s);
          animation-delay: calc(var(--f) * 78), calc(var(--f) * 78 - 0.5s);
}

.g-item:nth-child(80) {
  -webkit-animation-delay: calc(var(--f) * 79), calc(var(--f) * 79 - 0.5s);
          animation-delay: calc(var(--f) * 79), calc(var(--f) * 79 - 0.5s);
}

.g-item:nth-child(81) {
  -webkit-animation-delay: calc(var(--f) * 80), calc(var(--f) * 80 - 0.5s);
          animation-delay: calc(var(--f) * 80), calc(var(--f) * 80 - 0.5s);
}

.g-item:nth-child(82) {
  -webkit-animation-delay: calc(var(--f) * 81), calc(var(--f) * 81 - 0.5s);
          animation-delay: calc(var(--f) * 81), calc(var(--f) * 81 - 0.5s);
}

.g-item:nth-child(83) {
  -webkit-animation-delay: calc(var(--f) * 82), calc(var(--f) * 82 - 0.5s);
          animation-delay: calc(var(--f) * 82), calc(var(--f) * 82 - 0.5s);
}

.g-item:nth-child(84) {
  -webkit-animation-delay: calc(var(--f) * 83), calc(var(--f) * 83 - 0.5s);
          animation-delay: calc(var(--f) * 83), calc(var(--f) * 83 - 0.5s);
}

.g-item:nth-child(85) {
  -webkit-animation-delay: calc(var(--f) * 84), calc(var(--f) * 84 - 0.5s);
          animation-delay: calc(var(--f) * 84), calc(var(--f) * 84 - 0.5s);
}

.g-item:nth-child(86) {
  -webkit-animation-delay: calc(var(--f) * 85), calc(var(--f) * 85 - 0.5s);
          animation-delay: calc(var(--f) * 85), calc(var(--f) * 85 - 0.5s);
}

.g-item:nth-child(87) {
  -webkit-animation-delay: calc(var(--f) * 86), calc(var(--f) * 86 - 0.5s);
          animation-delay: calc(var(--f) * 86), calc(var(--f) * 86 - 0.5s);
}

.g-item:nth-child(88) {
  -webkit-animation-delay: calc(var(--f) * 87), calc(var(--f) * 87 - 0.5s);
          animation-delay: calc(var(--f) * 87), calc(var(--f) * 87 - 0.5s);
}

.g-item:nth-child(89) {
  -webkit-animation-delay: calc(var(--f) * 88), calc(var(--f) * 88 - 0.5s);
          animation-delay: calc(var(--f) * 88), calc(var(--f) * 88 - 0.5s);
}

.g-item:nth-child(90) {
  -webkit-animation-delay: calc(var(--f) * 89), calc(var(--f) * 89 - 0.5s);
          animation-delay: calc(var(--f) * 89), calc(var(--f) * 89 - 0.5s);
}

.g-item:nth-child(91) {
  -webkit-animation-delay: calc(var(--f) * 90), calc(var(--f) * 90 - 0.5s);
          animation-delay: calc(var(--f) * 90), calc(var(--f) * 90 - 0.5s);
}

.g-item:nth-child(92) {
  -webkit-animation-delay: calc(var(--f) * 91), calc(var(--f) * 91 - 0.5s);
          animation-delay: calc(var(--f) * 91), calc(var(--f) * 91 - 0.5s);
}

.g-item:nth-child(93) {
  -webkit-animation-delay: calc(var(--f) * 92), calc(var(--f) * 92 - 0.5s);
          animation-delay: calc(var(--f) * 92), calc(var(--f) * 92 - 0.5s);
}

.g-item:nth-child(94) {
  -webkit-animation-delay: calc(var(--f) * 93), calc(var(--f) * 93 - 0.5s);
          animation-delay: calc(var(--f) * 93), calc(var(--f) * 93 - 0.5s);
}

.g-item:nth-child(95) {
  -webkit-animation-delay: calc(var(--f) * 94), calc(var(--f) * 94 - 0.5s);
          animation-delay: calc(var(--f) * 94), calc(var(--f) * 94 - 0.5s);
}

.g-item:nth-child(96) {
  -webkit-animation-delay: calc(var(--f) * 95), calc(var(--f) * 95 - 0.5s);
          animation-delay: calc(var(--f) * 95), calc(var(--f) * 95 - 0.5s);
}

@-webkit-keyframes heightChange {
  from {
    height: var(--h);
  }
  to {
    height: calc(var(--h) + 30px);
  }
}

@keyframes heightChange {
  from {
    height: var(--h);
  }
  to {
    height: calc(var(--h) + 30px);
  }
}

@-webkit-keyframes skewChange {
  from {
    -webkit-transform: skewY(20deg);
            transform: skewY(20deg);
  }
  to {
    -webkit-transform: skewY(-20deg);
            transform: skewY(-20deg);
  }
}

@keyframes skewChange {
  from {
    -webkit-transform: skewY(20deg);
            transform: skewY(20deg);
  }
  to {
    -webkit-transform: skewY(-20deg);
            transform: skewY(-20deg);
  }
}
/*# sourceMappingURL=index.css.map */