$count: 96;
$speed: 1s;

.g-container {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    display: flex;
    align-items: flex-end;
}

.g-item {
    // 注意，只有这里发生了变化
    --f: #{$speed / -24};
    --h: 60px;
    flex-grow: 1;
    height: 60px;
    background-color: #000;
    animation: heightChange $speed infinite ease-in-out alternate, skewChange $speed infinite ease-in-out alternate;
}

@for $i from 0 to $count {
    .g-item:nth-child(#{$i + 1}) {
        animation-delay: calc(var(--f) * #{$i}), calc(var(--f) * #{$i} - #{$speed / 2});
    }
}

@keyframes heightChange {
    from {
        height: var(--h);
    }
    to {
        height: calc(var(--h) + 30px);
    }
}

@keyframes skewChange {
    from {
        transform: skewY(20deg);
    }
    to {
        transform: skewY(-20deg);
    }
}
